{% extends "tease.twig" %}

{% block content %}

{% if post.thumbnail.src %}
<div class="tease-post_visual">
	<a href="{{post.link}}">
		<img src="{{ post.thumbnail.src('medium_large') }}" alt="{{ post.title }}">
	</a>
</div>
{% endif %}

<div class="tease-post_content">
	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
	<p>{{ post.preview.read_more(false) }}</p>
	<a href="{{post.link}}">Lire l'article</a>
</div>

{% endblock %}